/Freud/Week2/Dark_Light_Mode/node_modules
/Freud/Week2/TodoList/node_modules
/Freud/Week2/Dark_Light_Mode/node_modules
/Freud/Week2/Dark_Light_Mode/node_modules
/Freud/Week3/.del
Freud/Week4/mission3/vite-project/.env
Freud/Week5/mission3/vite-project/.env
